# Update these with your Supabase details from your project settings > API
# https://app.supabase.com/project/_/settings/api

NEXT_PUBLIC_SUPABASE_URL=your-ngrok-backend-url
NEXT_PUBLIC_SUPABASE_ANON_KEY=your-anon-key

## Local Development
# https://supabase.com/docs/guides/auth/social-login/auth-zoom

# Your Ngrok URL
#SITE_URL=

# Zoom Credentials
#ZOOM_CLIENT_ID=
#ZOOM_CLIENT_SECRET=

# No Need to Change This
#ZOOM_REDIRECT_URL=${NEXT_PUBLIC_SUPABASE_URL}/auth/v1/callback

# Supabase URL
#NEXT_PUBLIC_SUPABASE_URL=
#NEXT_PUBLIC_SUPABASE_ANON_KEY=

# Zoom Team Chatbot Credentials
# ZOOM_BOT_JID=
# ZOOM_VERIFICATION_TOKEN=
# ZOOM_SECRET_TOKEN=

# OpenAI API (Optional)
# OPENAI_API_KEY=
